<table class="tabela">
  <thead class="tabela__cabecalho">
    <th  class="tabela__cabecalho__conteudo">Data</th>
    <th  class="tabela__cabecalho__conteudo">Valor</th>
    <th  class="tabela__cabecalho__conteudo">Destino</th>
  </thead>
  <tbody *ngIf="transfersValues?.length > 0; else listEmpty">
    <tr class="tabela__linha" *ngFor="let fTransfer of transfersValues">
      <td class="tabela__conteudo">{{fTransfer.date | date:'short'}}</td>
      <td class="tabela__conteudo">{{fTransfer.value | currency}}</td>
      <td class="tabela__conteudo">{{fTransfer.destiny}}</td>
    </tr>
  </tbody>
</table>

<ng-template #listEmpty>
  <p>Nenhuma operação cadastrada</p>
</ng-template>
